* {
    color: aliceblue;
}

body {
    width: 100vw;
    overflow-x: hidden;
    position: absolute;
    background-color: #0a0a0a;
    font-family: 'PT Sans', sans-serif;
}

header {
    height: 15%;
    max-height: 120px;
    min-height: 100px;
    width: 100vw;
    min-width: 100px;
    font-family: 'Farro', sans-serif;
    overflow: hidden;
    display: block;
    position: sticky;
    background: #000000;
    z-index: 100;
    padding: 2.5vh;
    font-size: 2.5em;
    -webkit-box-shadow: 5px 5px 21px 17px #000000;
    box-shadow: 5px 5px 21px 17px #000000;
}

#titre {
    height: 150%;
    min-height: 30px;
    width: 120%;
    padding-left: 20px;
    overflow: hidden;
}

#titre p {
    position: relative;
    bottom: 0.5em;
}

#titre p .versionStyle {
    font-size: 40%;
    opacity: 0.65;
    position: relative;
    bottom: 3.75em;
}

#filter {
    width: 100%;
}

#behinder {
    position: absolute;
    top: 0;
    left: 8em;
    opacity: 0.5;
}

aside {
    height: 100%;
    width: 200px;
    background-color: #000000;
    position: relative;
    z-index: 95;
}

#liste {
    position: fixed;
    top: 10px;
}

#liste ul {
    background-color: black;
    width: 100px;
    position: relative;
    margin: 0;
    top: 10.5em;
    list-style-type: none;
    -webkit-box-shadow: 5px 5px 21px 17px #000000;
    box-shadow: 5px 5px 21px 17px #000000;
}

#liste li {
    font-size: 0.85em;
    padding: 0.15em;
    width: 85%;
    -webkit-transition: background-color 0.25s, color 0.25s;
    /* Safari prior 6.1 */
    transition: background-color 0.25s, color 0.25s;
}

#liste li:hover a {
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
    -webkit-transition: background-color 0.25s, color 0.25s;
    /* Safari prior 6.1 */
    transition: background-color 0.25s, color 0.25s;
}

a:hover,
#liste li:hover {
    color: black;
    font-weight: 800;
}

section {
    width: 75vw;
    position: relative;
    left: 250px;
    top: 80px;
    border: 1px solid #252525;
}

section > * {
    position: relative;
    top: 10px;
    flex: 0 0 auto;
    margin: 1em;
}

table {
    display: block;
    border-collapse: collapse;
    position: block;
    min-width: 800px;
}

table,
th,
td {
    border: 2px solid #252525;
}

th,
td {
    padding: 0.5em;
}

tr td:nth-child(1) {
    min-width: 150px;
}

tr td:nth-child(2) {
    min-width: 200px;
}

tr td:nth-child(3) {
    min-width: 250px;
}

tr td:nth-child(4) {
    min-width: 225px;
}

table tr:nth-child(1) {
    background-color: black;
}

.tableItemMI {
    background-color: #2b8734;
}

.tableItemCharm {
    background-color: #2b8734;
}

.tableItemRelic {
    background-color: #994d00;
}

.tableItemEpic {
    background-color: #4684c7;
}

.tableItemLeg {
    background-color: #714191;
}

.tableItemMU {
    background-color: #872b2b;
}

.tableItemArt {
    background-color: #91f2ee;
}

.tableItemArt * {
    color: black;
}

#intro p {
    width: 99%;
}

.itemBox originSC {
    background-color: #252525;
    width: 350px;
    height: 300px;
    padding: 0.4em;
}

.itemName {
    font-variant: small-caps;
    font-size: 120%;
    width: 50%;
    display: inline;
}

.itemText {
    margin: 0;
    padding: 0;
    width: 82%;
    font-size: 90%;
}

.itemText2 {
    margin: 0;
    padding: 0;
    line-height: 125%;
    width: 100%;
    height: 60%;
    font-size: 85%;
    overflow: auto;
}

.itemTextCharm {
    margin: 0;
    padding: 0;
    width: 82%;
    font-size: 90%;
    height: 10.5%;
}

.itemText2IconAlt {
    position: relative;
    top: 2.5em;
}

.itemText3 {
    background-color: #151515;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 90%;
    position: relative;
    top: 0.5em;
}

.itemTextFourRows {
    position: relative;
    top: 0.15em;
}

.itemText3IconAlt {
    position: relative;
    top: 2.85em;
}

.itemText3IconAlt2 {
    position: relative;
    top: 3.5em;
}

.itemIcon {
    float: right;
    max-height: 98px;
}

.lootableIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.itemIgnore {
    margin: 0;
    padding: 0;
}

.rarityMI {
    border-top: 10px solid #51851d;
}

.rarityEpic {
    border-top: 10px solid #2ba0ff;
}

.rarityLeg {
    border-top: 10px solid #8400bd;
}

.rarityMU {
    border-top: 10px solid #ff1f26;
}

.rarityL {
    border-top: 10px solid #78fdff;
}

.rarityG {
    border-top: 10px solid #78fdff;
}

.rarityD {
    border-top: 10px solid #78fdff;
}

.rarityCharmN {
    border-top: 10px solid #51851d;
}

.rarityCharmE {
    border-top: 10px solid #2ba0ff;
}

.rarityCharmL {
    border-top: 10px solid #8400bd;
}
